.root {
  @apply flex items-center justify-center rounded-brand font-work-sans font-semibold text-white;
  padding-inline: 50px;
  line-height: 140%;
}

.primary {
  @apply bg-primary;
}

.outlined {
  @apply border-solid border-2 border-primary;
}

.small {
  @apply h-12 text-base;
}

.medium {
  @apply text-base;
  height: 60px;
}

.large {
  height: 72px;
  font-size: 22px;
}
